:root{
    --global-background-color:#eee;

    --links-hover-color: #4297e0;

    --navbar-fontsize: 1rem;
    --navbar-background-color0:#fff;
    --navbar-background-color1:#e4e4e4;
    --navbar-hover-link-color0:#4297e0;
    --navbar-dropdown-background:#f46a40;
    --navbar-line-divider-color:#f46a40;

    --searchbar-border-color: #4297e0;

    --facebook-icon-color: #3b5998;
    
    --main-background-color: #dde1e7;

    --footerbar-background-color: #eee;
}